In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
bill_url = "https://www.billboard.com/charts/hot-100/"
bill_url

'https://www.billboard.com/charts/hot-100/'

In [3]:
def scrape_hot100() ->pd.DataFrame:
  
    url = "https://www.billboard.com/charts/hot-100"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    artists = [artist.text.strip() for artist in soup.select('span.c-label.a-no-trucate')]
    titles = [title.text.strip() for title in soup.select('h3.a-no-trucate.c-title')]
    
    data = {
    'Artist': artists,
    'Title': titles,}
    df = pd.DataFrame(data)
    
    return df

In [4]:
hot100 = scrape_hot100()

In [5]:
hot100.to_csv('hot100.csv', index=False)

In [37]:
hot100

                                  Artist                  Title
0                               Doja Cat     Paint The Town Red
1                                    SZA                 Snooze
2                             Luke Combs               Fast Car
3                           Taylor Swift           Cruel Summer
4   Zach Bryan Featuring Kacey Musgraves  I Remember Everything
..                                   ...                    ...
95                            Tim McGraw     Standing Room Only
96                              Rod Wave              Checkmate
97                           Dylan Scott        Can't Have Mine
98                        Victoria Monet             On My Mama
99                        Olivia Rodrigo   Love Is Embarrassing

[100 rows x 2 columns]